     <footer class="footer p-10 bg-base-100 text-neutral-content mt-auto">
        <div>
          <span class="footer-title">Social</span> 
          <div class="grid grid-flow-col gap-4 ">
            <a href="https://twitter.com/GGFitGym" target="_blank" class="text-2xl text-neutral-focus fa-brands fa-twitter hover:text-primary"></a> 
            <a href="https://www.youtube.com/channel/UCKUwXlRBxU0Q5t3NbZWf-UQ" target="_blank" class="text-2xl text-neutral-focus fa-brands fa-youtube hover:text-primary"></a> 
            <a href="https://www.facebook.com/GGFItGym/" target="_blank" class="text-2xl text-neutral-focus fa-brands fa-facebook hover:text-primary"></a>
            <a href="https://www.linkedin.com/company/gg-fit/" target="_blank" class="text-2xl text-neutral-focus fa-brands fa-linkedin hover:text-primary"></a>
            <a href="https://www.tiktok.com/@gg_fit_gym" target="_blank" class="text-2xl text-neutral-focus fa-brands fa-tiktok hover:text-primary"></a>
          </div>
        </div>
      </footer>