<%- include('partials/header') -%>

<main class="flex justify-content-center h-screen items-center">
    <div class="">
        <a href="/login" class="btn btn-secondary pt-2.5 "> Login</a>
        <a href="/signup" class="btn btn-accent pt-2.5"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>