<%- include('partials/frontHeader') -%>

<div class="hero min-h-screen" style="background-image: url(https://placeimg.com/1000/800/arch);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">About GG Fit</h1>
        <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
        <main class="flex justify-center">
            <div class="">
                <a href="/login" class="btn btn-secondary pt-2.5 "> Login</a>
                <a href="/signup" class="btn btn-accent pt-2.5"> Signup</a>
            </div>
        </main>
      </div>
    </div>
  </div>

<!-- <main class="flex justify-content-center h-screen items-center">
    <div class="">
        <a href="/login" class="btn btn-secondary pt-2.5 "> Login</a>
        <a href="/signup" class="btn btn-accent pt-2.5"> Signup</a>
    </div>
</main> -->
    

<%- include('partials/footer') -%>