<%- include('partials/frontHeader') -%>

<div class="hero min-h-screen drop-shadow-xl" style="background-image: url(https://placeimg.com/1000/800/arch);">
  <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold drop-shadow-lg shadow-black">About GG Fit</h1>
        <p class="mb-5 text-base drop-shadow-lg shadow-black">GG Fits mission is to grow, develop and give the knowledge and skills to anyone who wants to be the best versions of themselves whether mentally or physically!</p>
        <main class="flex justify-center">
          
        </main>
      </div>
    </div>
  </div>

<div>
  
<section class="flex justify-center mt-5 mb-5">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfYoSe-q56XehImhNPyMyk_u9FIO_bfRfd6UUSl804sS82PZQ/viewform?embedded=true" width="640" height="709" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</section>



<%- include('partials/footer') -%>